{% extends '@App/Backend/base.html.twig' %}

{% block body %}
<div class="main_box new_order">
    <h2><span></span>邮件发送</h2>

    <div class="cont_box">
        <div class="search_formbox clearfix">
            {#<a href="{{ path('backend_device_new') }}" class="btn blue_btn curr">#}
                {#<i class="fa fa-edit"></i><span>添加设备</span>#}
            {#</a>#}
        </div>

        <form method="get"
              {#action="{{ path('backend_device_search') }}">#}
        >
            <div class="search_box clearfix">
                <label class="f_left">搜索设备：</label>
                <input type="search" class="f_left search_input" name="searchParam" placeholder="输入设备序列号/运营人账号|电话"/>
                <input type="submit" value="搜索" class="btn blue_btn"/>
            </div>
        </form>
    </div>

    <div class="cont_box">
        <table border="0" cellspacing="0" cellpadding="0" class="table" id="table_box">
            <thead>
                <tr>
                    <th>设备ID</th>
                    <th>设备类型</th>
                    <th>序列号</th>
                    <th>生产日期</th>
                    <th>运营负责人</th>
                    <th>当前位置</th>
                    <th>已作业面积(亩)</th>
                    <th>操作信息</th>
                    <th class="w200">操作</th>
                </tr>
            </thead>

            <tbody>
                {% for equip in pagination %}
                    <tr>
                        <td class="center">{{ equip.id }}</td>
                        <td class="center">{{ equip.classId.className }}</td>
                        <td class="center">{{ equip.equipSn }}</td>
                        <td class="center">{{ equip.equipPdate }}</td>
                        <td class="center">
                            {% if equip.superv is not empty %}
                                {% if equip.superv.realname is not empty %}
                                    {{ equip.superv.realname }}
                                {% else %}
                                    {{ equip.superv.nickname }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="center">{{ equip.equipPos }}</td>
                        <td class="center">{{ equip.doneArea }}</td>
                        <td class="center">
                            创建时间：{{ equip.createtime | date("Y-m-d H:i") }}<br/>
                            更新时间：{{ equip.updatetime | date("Y-m-d H:i") }}<br/>
                            {% if equip.comment is not empty %}
                                备注：{{ equip.comment }}
                            {% endif %}
                        </td>
                        <td class="">
                            {#<a href="{{ path('backend_device_edit',{'id':equip.id}) }}" class="table_btn table_warning"><i class="fa fa-edit"></i>#}
                                {#<span>编辑</span>#}
                            {#</a>#}
                            {#<a href="{{ path('backend_device_delete',{'id':equip.id}) }}"  class="table_btn table_del"><i class="fa fa-recycle"></i>#}
                                {#<span>删除</span>#}
                            {#</a><br/>#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="txtCenter">
        {#{{ knp_pagination_render(pagination) }}#}
    </div>
</div>
{% endblock %}
